/* game board table */

#board td {
	width: 50px;
	height: 50px;
	border: solid 4px rgb(200, 200, 200);
	border-radius: 5px;
	position: relative;
	z-index: -5;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
	/* TODO: make into circles */
	position: absolute;
	top: -333px;
	border-radius: 25px;
	margin: 5px;
	width: 80%;
	height: 80%;
	transition: all .4s cubic-bezier(.81, .17, .78, 1.15);
	z-index: -2;
	overflow: hidden;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
	background-color: white;
}
.p2 {
	background-color: black;
}
/* column-top is table row of clickable areas for each column */

#column-top td {
	border: dashed 1px rgb(200, 200, 200);
}

#column-top td:hover {
	background-color: rgb(200, 200, 200);
	transition: all .5s;
	transform: scale(1.05);
}

body {
	background-color: rgb(50, 50, 50);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
	margin-top: 10px;
	margin-left: 50px;
	color: white;
}

span {
	color: white;
	transition: all .2s;
}

button {
	margin: 5px;
	margin-left: 20px;
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(230, 230, 230);
	border: none;
	transition: all .2s;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	position: absolute;
	outline: none;
}
button:hover {
	background-color: rgb(250, 250, 250);
}

button:active {
	margin-top: 7px;
	position: absolute;
	outline: none;
}

.winner {
	font-size: 36px;
	color: white;
	margin-left: 25px;
	transition: all 1s;
}
